.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffdac1;
  }
  @keyframes jump {
  0%{
  transform: translateY(-0px);
  }
  25%{
  transform: translateY(-50px) rotate(25deg);
  }
  50%{
  transform: translateY(-0px);
  }
  75%{
  transform: translateY(-50px) rotate(-25deg);
  }
  }
  .App_title {
  font-size: 60px;
  color: #55cbcd;
  animation: jump linear 1.5s infinite;
  }
  .App_text {
  font-size: 40px;
  color: #cbaacb;
  }
  